@charset "utf-8";
/* CSS Document*/
body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #fff;
    color: #666;
    font-family: 'open sans', sans-serif;
}
a{
    color: #1e6fff;
}
a:hover{
    color: #fff;
    background: #1e6fff;
    text-decoration: none;
}
h1,h2,h3{
    padding: 0;
}
p {
    paddding: 0;
}
img{
    width: 100%;
}
    /*navigation styles */
 nav{
     width: 100%;
 }
nav ul{
    list-style-type: none;
    margin: 0;
    padding: hidden;
    overflow: hidden;
    background-color: #444;
    text-align: center;
}
nav li{
    float: left;
    font-family:    'open sans' , sans-serif;
    font-size: 1,2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #393434;
}
nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    padding: 4px ;
    font-weight: bold;
    width: 120px;
}
nav a:hover, a:active {
    background-color: #000000;
}

#wrapper {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
header {
    height: 100px;
    padding:  0 15px;
}
